openapi: 3.0.1
info:
  title: WLZ indicatie register
  description: OpenAPI Koppelvlak specificatie tbv WLZ indicatie register.
  termsOfService: 'https://github.com/OAI/OpenAPI-Specification/blob/master/LICENSE'
  contact:
    name: "iStandaarden"
    url: "https://istandaarden.nl"
    email: info@istandaarden.nl
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: '0.9.6'
externalDocs:
  description: Find out more about OpenAPI
  url: 'https://www.openapis.org'
servers:
  - url: 'https://api.ciz.nl/wlzindicatieregister'
tags:
  - name: WLZ indicaties
    description: 'Alles over WLZ indicaties'
    externalDocs:
      description: Link naar iStandaarden
      url: 'https://informatiemodel.istandaarden.nl/'
  - name: "iWlz codelijsten"
    description: ""
    externalDocs:
      description: "Codelijsten bij iWlz 2.2"
      url: "https://www.istandaarden.nl/ibieb/codelijsten-iwlz-221"
paths:
  /wlzindicaties:
    post:
      tags:
        - WLZ indicaties
      summary: Vind indicatieID's op BSN.
      description: Vind indicatieID's en indicatiedatums van verstrekte indicaties op basis van het BSN van de cliënt.
      operationId: getWLZindicaties
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: BSN object voor het vinden van  WLZ indicaties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bsn'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WlzindicatieIDs'
            application/json:
              schema:
                $ref: '#/components/schemas/WlzindicatieIDs'
        '400':
          description: Ongeldig BSN
          content: { }
        '404':
          description: Geen WLZ indicaties gevonden
          content: { }
  /wlzindicaties/wlzindicatie:
    post:
      tags:
        - WLZ indicaties
      summary: Vind WLZ indicatie op wlzindicatieID.
      description: De WLZ indicatie bevat de WLZ indicatiebesluitgegevens van de cliënt.
      operationId: getWLZindicatieByID
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Wlzindicatie'
            application/json:
              schema:
                $ref: '#/components/schemas/Wlzindicatie'
        '400':
          description: Ongeldig WLZ indicatie ID
          content: { }
        '404':
          description: Onbekend WLZ indicatie ID
          content: { }
  /wlzindicaties/wlzindicatie/geindiceerdezorgzwaartepakketten:
    post:
      tags:
        - WLZ indicaties
      summary: Vind geindiceerde zorgzwaartepakketten bij een wlzindicatieID.
      description: Gegevens over een geïndiceerd zorgzwaartepakket.
      operationId: getWLZ indicatieGeindiceerdezorgzwaartepakketten
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GeindiceerdeZorgzwaartepakketten'
            application/json:
              schema:
                $ref: '#/components/schemas/GeindiceerdeZorgzwaartepakketten'
        '400':
          description: Ongeldig WLZ indicatie ID
          content: { }
        '404':
          description: Onbekend WLZ indicatie ID
          content: { }
  /wlzindicaties/wlzindicatie/geindiceerdefuncties:
    post:
      tags:
        - WLZ indicaties
      summary: Vind geindiceerde functie bij een wlzindicatieID.
      description: Gegevens over een geïndiceerde functie.
      operationId: getWLZindicatieGeindiceerdefuncties
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GeindiceerdeFuncties'
            application/json:
              schema:
                $ref: '#/components/schemas/GeindiceerdeFuncties'
        '400':
          description: Ongeldig WLZ indicatie ID
          content: { }
        '404':
          description: Onbekend WLZ indicatie ID
          content: { }
  /wlzindicaties/wlzindicatie/stoornissen:
    post:
      tags:
        - WLZ indicaties
      summary: Vind stoornissen bij een wlzindicatieID.
      description: Diagnostische gegevens m.b.t. ziektebeeld en/of stoornis van de client.
      operationId: getWLZindicatiestoornissen
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Stoornissen'
            application/json:
              schema:
                $ref: '#/components/schemas/Stoornissen'
        '400':
          description: Ongeldig WLZ indicatie ID
          content: { }
        '404':
          description: Onbekend WLZ indicatie ID
          content: { }
  /wlzindicaties/wlzindicatie/stoornissen/stoornisscores:
    post:
      tags:
        - WLZ indicaties
      summary: Vind stoornisscores bij een wlzindicatieID.
      description: Scoregegevens over ziektebeeld / stoornis van de cliënt.
      operationId: getWLZindicatiestoornissenStoornisscores
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/StoornisScores'
            application/json:
              schema:
                $ref: '#/components/schemas/StoornisScores'
        '400':
          description: Ongeldig WLZ indicatie ID
          content: { }
        '404':
          description: Onbekend WLZ indicatie ID
          content: { }
  /wlzindicaties/wlzindicatie/beperkingen:
    post:
      tags:
        - WLZ indicaties
      summary: Vind beperkingen bij een wlzindicatieID.
      description: Gegevens over beperkingen van de cliënt.
      operationId: getWLZ indicatieBeperkingen
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Beperkingen'
            application/json:
              schema:
                $ref: '#/components/schemas/Beperkingen'
        '400':
          description: Ongeldig WLZ indicatie ID
          content: { }
        '404':
          description: Onbekend WLZ indicatie ID
          content: { }
  /wlzindicaties/wlzindicatie/bopz/:
    post:
      tags:
        - bopz
      summary: Zoek BOPZ op WLZ indicatie ID
      description: Geeft BOPZ verklaring bij een WLZ indicatie
      operationId: getBopz
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Bopz'
            application/json:
              schema:
                $ref: '#/components/schemas/Bopz'
        '400':
          description: Ongeldig WLZ indicatieID
          content: { }
        '404':
          description: Geen BOPZ gevonden voor WLZ indicatieID
          content: { }
  /wlzindicaties/wlzindicatie/wzd/:
    post:
      tags:
        - wzd
      summary: Zoek Wzd verklaring op WLZ indicatieID
      description: Geeft alle Wzd verklaringen bij een WLZ indicatie
      operationId: getWzd
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Wzd'
            application/json:
              schema:
                $ref: '#/components/schemas/Wzd'
        '400':
          description: Ongeldig WLZ indicatieID
          content: { }
        '404':
          description: Geen Wzd verklaring gevonden voor WLZ indicatieID
          content: { }
  /wlzindicaties/wlzindicatie/client:
    post:
      tags:
        - WLZ indicaties
      summary: Geeft clientgegevens op basis van het WLZ indicatie ID
      description: Persoonsgegevens van de cliënt.
      operationId: getclientIO31
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Client'
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          description: Ongeldig WLZ indicatie ID
        '404':
          description: Onbekend WLZ indicatie ID
  /wlzindicaties/wlzindicatie/client/contactpersonen:
    post:
      tags:
        - WLZ indicaties
      summary: Geeft contactpersonen van een cliënt op basis van het WLZ indicatie ID
      description: Gegevens over de contactpersonen van de cliënt.
      operationId: getclientIO31Contactpersonen
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContactPersonen'
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPersonen'
        '400':
          description: Ongeldig WLZ indicatie ID
        '404':
          description: Onbekend WLZ indicatie ID
  /wlzindicaties/wlzindicatie/client/contactgegevens:
    post:
      tags:
        - WLZ indicaties
      summary: Geeft contactgegevens van een cliënt op basis van het WLZ indicatie ID
      description: Gegevens over de contactpersonen van de cliënt.
      operationId: getclientIO31Contactgegevens
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
        description: Uniek ID van de WLZ indicatie voor het opvragen van de indicatiebesluitgegevens
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WlzindicatieID'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContactGegevens'
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGegevens'
        '400':
          description: Ongeldig WLZ indicatie ID
        '404':
          description: Onbekend WLZ indicatie ID
components:
  schemas:
    Adres:
      required:
        - adresSoort
      type: object
      properties:
        adresSoort:
          description: "Moet voldoen aan COD757: Soort Adres; zie iWlz codelijsten"
          type: string
          enum: [ "01","02","03", "04" ]
          example: "01"
        straatnaam:
          type: string
          example: "Oudaen"
        huisnummer:
          type: integer
          format: int32
          example: 19
        huisletter:
          type: string
        huisnummerToevoeging:
          type: string
        postcode:
          type: string
          example: "1081BA"
        plaatsnaam:
          type: string
          example: "Amsterdam"
        landCode:
          description: "Moet voldoen aan COD032:Land; zie iWlz codelijsten"
          type: string
          example: "NL"
        aanduidingWoonadres:
          description: "Moet voldoen aan NUM061: Aanduiding woonadres; zie iWlz codelijsten"
          type: string
          enum: [ "AB","BY","TO","WW" ]
        ingangsdatum:
          type: string
          format: date
          example: "2005-09-01"
        einddatum:
          type: string
          format: date
      xml:
        name: adres
    Adressen:
      type: array
      items:
        $ref: '#/components/schemas/Adres'
      xml:
        name: adressen
        wrapped: true
    Beperking:
      required:
        - categorie
      type: object
      properties:
        categorie:
          description: "Moet voldoen aan COD539: Beperking; zie iWlz codelijsten"
          type: string
          enum: [ "1","2","3","4","5","6" ]
          example: "1"
        duur:
          description: "Moet voldoen aan COD749: duur; zie iWlz codelijsten"
          type: string
          enum: [ "1","2","3","4" ]
          example: "1"
        commentaar:
          type: string
        beperkingScores:
          $ref: "#/components/schemas/BeperkingScores"
      xml:
        name: beperking
    Beperkingen:
      type: array
      items:
        $ref: '#/components/schemas/Beperking'
      xml:
        name: beperkingen
        wrapped: true
    BeperkingScore:
      required:
        - beperkingVraag
        - beperkinsScore
      type: object
      properties:
        beperkingVraag:
          description: "Moet voldoen aan COD825: Vraag beperking; zie iWlz codelijsten"
          type: string
          example: "0101"
        beperkingScore:
          description: "Moet voldoen aan COD828: Score beperking; zie iWlz codelijsten"
          type: string
          enum: [ "0","1","2","3","9" ]
          example: "1"
        commentaar:
          type: string
      xml:
        name: beperkingScore
    BeperkingScores:
      type: array
      items:
        $ref: '#/components/schemas/BeperkingScore'
      xml:
        name: beperkingScores
        wrapped: true
    Bopz:
      required:
        - bopzVerklaring
        - datumAfgifte
      type: object
      properties:
        bopzVerklaring:
          type: boolean
        datumAfgifte:
          type: string
          format: date
      xml:
        name: bopz
    Bsn:
      type: string
      pattern: '^[0-9]{9}$'
      example: 950032153
    Client:
      required:
        - bsn
        - geheimeClient
        - geslacht
        - geslachtsnaam
        - naamGebruik
        - leefeenheid
      type: object
      properties:
        bsn:
          type: string
          pattern: '^[0-9]{9}$'
          example: 950032153
        geheimeClient:
          type: boolean
          example: 2
        geboorteDatum:
          type: string
          format: date
        geboortedatumGebruik:
          description: "Moet voldoen aan COD170:Datumgebruik; zie iWlz codelijsten"
          type: integer
          enum: [ 1,2,3 ]
        geslacht:
          description: "Moet voldoen aan COD046:Geslacht; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 0, 1, 2 ]
        burgerlijkeStaat:
          description: "Moet voldoen aan COD366:Burgerlijke staat; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 1,2,3,4,5,6,7,9 ]
        geslachtsnaam:
          type: string
        voorvoegselGeslachtsnaam:
          type: string
        partnernaam:
          type: string
        voorvoegselPartnernaam:
          type: string
        voornamen:
          type: string
        roepnaam:
          type: string
        voorletters:
          type: string
        naamGebruik:
          description: "Moet voldoen aan COD700:Naamgebruik; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 1,2,3,4,5,6 ]
        leefeenheid:
          description: "Moet voldoen aan COD478:Leefeenheid; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 1,2,3,4,5,6,7,9 ]
        juridischeStatus:
          description: "Moet voldoen aan COD232:Juridische status; zie iWlz codelijsten"
          type: string
          enum: [ "01","02","03","04","05","06","07","08","09","10","11","12" ]
          example: "01"
        agbcodeHuisarts:
          type: string
          pattern: '^[0-9]{8}$'
        communicatieVorm:
          description: "Gecodeerde aanduiding van de bijzondere vorm van communicatie die gebruikt dient te worden"
          type: string
          enum: [ "1","2","3" ]
        taal:
          description: "De taal van de client waarin met de client wordt gecommuniceerd"
          type: string
          maxLength: 25
        commentaar:
          description: "Vrije tekst (bijvoorbeeld toelichting) in een bericht."
          type: string
          maxLength: 255
      xml:
        name: client
    ContactGegevens:
      type: object
      properties:
        adres:
          $ref: '#/components/schemas/Adressen'
        telefoon:
          $ref: '#/components/schemas/Telefoonnummers'
        email:
          $ref: '#/components/schemas/Emailadressen'
      xml:
        name: contactGegevens
    ContactPersoon:
      required:
        - soortRelatie
      type: object
      properties:
        relatieNummer:
          description: Identificerend nummer van de relatie van een client
          type: string
        volgorde:
          description: "Aanduiding prioriteit van de contactpersoon"
          type: integer
          format: int32
          maxLength: 2
        soortRelatie:
          description: "Moet voldoen aan COD472:Soort relatie; zie iWlz codelijsten"
          type: string
          enum: [ "04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25" ] #@@nNog verder aanvullen
          example: "12"
        organisatieNaam:
          type: string
        voornamen:
          type: string
          example: "Leo"
        roepnaam:
          type: string
        voorletters:
          type: string
        geslachtsnaam:
          type: string
        voorvoegselGeslachtsnaam:
          type: string
        partnernaam:
          type: string
        voorvoegselPartnernaam:
          type: string
        naamGebruik:
          description: "Moet voldoen aan COD700:Naamgebruik; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 1,2,3,4,5,6 ]
        geslacht:
          description: "Moet voldoen aan COD046:Geslacht; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 0, 1, 2 ]
        geboorteDatum:
          type: string
          format: date
        geboortedatumGebruik:
          description: "Moet voldoen aan COD170:Datumgebruik; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 1,2,3 ]
        ingangsdatum:
          type: string
          format: date
          example: "2005-09-01"
        einddatum:
          type: string
          format: date
        adres:
          $ref: '#/components/schemas/Adressen'
        telefoon:
          $ref: '#/components/schemas/Telefoonnummers'
        email:
          $ref: '#/components/schemas/Emailadressen'
      xml:
        name: contactPersoon
    ContactPersonen:
      type: array
      items:
        $ref: '#/components/schemas/ContactPersoon'
      xml:
        name: contactPersonen
        wrapped: true
    Email:
      required:
        - emailadres
      type: object
      properties:
        emailadres:
          type: string
          example: "test@testmail.nl"
        ingangsdatum:
          type: string
          format: date
          example: "2005-09-01"
        einddatum:
          type: string
          format: date
      xml:
        name: email
    Emailadressen:
      type: array
      items:
        $ref: '#/components/schemas/Email'
      xml:
        name: emailadressen
        wrapped: true
    GeindiceerdeFunctie:
      required:
        - functiecode
        - ingangsdatum
        - klasse
        - leveringsVoorwaarde
        - financiering
      type: object
      properties:
        functiecode:
          description: "Moet voldoen aan COD732:Functie; zie iWlz codelijsten"
          type: string
        ingangsdatum:
          type: string
          format: date
        einddatum:
          type: string
          format: date
        klasse:
          type: string
        opslag:
          type: string
        leveringsVoorwaarde:
          description: "Moet voldoen aan COD740: Leveringsvoorwaarde zorg; zie iWlz codelijsten"
          type: integer
          enum: [ 1,2,3,4,8 ]
        vervoer:
          description: "Gecodeerde aanduiding die aangeeft of vervoer van toepassing is"
          type: integer
          enum: [ 1,2,9 ]
        instellingVoorkeur:
          type: string
        financiering:
          description: "Moet voldoen aan COD998: Financiering zorg; zie iWlz codelijsten"
          type: integer
          enum: [ 1,2,3,4 ]
        commentaar:
          type: string
      xml:
        name: geindiceerdeFunctie
    GeindiceerdeFuncties:
      type: array
      items:
        $ref: '#/components/schemas/GeindiceerdeFunctie'
      xml:
        name: geindiceerdeFuncties
        wrapped: true
    GeindiceerdZorgzwaartepakket:
      required:
        - zzpCode
        - ingangsdatum
        - financiering
      type: object
      properties:
        zzpCode:
          description: "Moet voldoen aan COD163: Zorgzwaartepakket; zie iWlz codelijsten"
          type: string
        ingangsdatum:
          type: string
          format: date
        einddatum:
          type: string
          format: date
        klasse:
          description: "Moet voldoen aan COD756: Klasse; zie iWlz codelijsten"
          type: string
        voorkeurClient:
          description: "Moet voldoen aan COD999: Voorkeur client; zie iWlz codelijsten"
          type: integer
          format: int32
        instellingVoorkeur:
          type: string
          pattern: '^[0-9]{8}$'
          example: 47471234
        financiering:
          description: "Moet voldoen aan COD998: Financiering zorg; zie iWlz codelijsten"
          type: integer
          enum: [ 1,2,3,4 ]
        commentaar:
          type: string
      xml:
        name: geindiceerdeZorgzwaartepakket
    GeindiceerdeZorgzwaartepakketten:
      type: array
      items:
        $ref: '#/components/schemas/GeindiceerdZorgzwaartepakket'
      xml:
        name: geindiceerdeZorgzwaartepakketten
        wrapped: true
    Grondslag:
      description: "Moet voldoen aan COD736:Grondslag zorg; zie iWlz codelijsten"
      type: string
      enum: [ "01","02","03","04","05","06","07" ]
      xml:
        name: grondslag
    Grondslagen:
      type: array
      items:
        $ref: '#/components/schemas/Grondslag'
      xml:
        name: grondslagen
        wrapped: true
    Stoornis:
      required:
        - grondslag
        - diagnoseCodelijst
        - ziektebeeldStoornis
      type: object
      properties:
        grondslag:
          description: "Moet voldoen aan COD736:Grondslag zorg; zie iWlz codelijsten"
          type: string
          enum: [ "01","02","03","04","05","06","07" ]
        diagnoseCodelijst:
          description: "Moet voldoen aan COD392:Diagnosecodelijst; zie iWlz codelijsten"
          type: string
          enum: [ "014","019","021","022","023","024" ]
        diagnoseSubCodelijst:
          description: "Moet voldoen aan COD770:Subcode diagnosecodelijst; zie iWlz codelijsten"
          type: string
          enum: [ "01","02","03","04","05","06","07","08","09","10","11","12","13" ]
        ziektebeeldStoornis:
          description: "vulling uit combinatie van COD923, COD924 en COD925; zie iWlz codelijsten"
          type: string
        prognose:
          description: "Moet voldoen aan COD737: Prognose; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [ 1,2,3,4,5 ]
        commentaar:
          type: string
      xml:
        name: stoornis
    Stoornissen:
      type: array
      items:
        $ref: '#/components/schemas/Stoornis'
      xml:
        name: stoornissen
        wrapped: true
    StoornisScore:
      required:
        - stoornisVraag
        - stoornisScore
      type: object
      properties:
        stoornisVraag:
          description: "Moet voldoen aan COD824: Vraag stoornis; zie iWlz codelijsten"
          type: string
          enum: [ "0101","0102","0103","0104","0201","0202","0203","0204","0301","0302","0303","0304","0305","0306","0401","0402","0403","0404","0405","0406","0407","0501","0502","0503","0504","0601","0602","0603","0604","0605" ]
        stoornisScore:
          description: "Moet voldoen aan COD827: Score vraag stoornis; zie iWlz codelijsten"
          type: string
          enum: [ "0","1","2","3","9" ]
          example: "1"
        commentaar:
          type: string
      xml:
        name: stoornisScore
    StoornisScores:
      type: array
      items:
        $ref: '#/components/schemas/StoornisScore'
      xml:
        name: stoornisScores
        wrapped: true
    Telefoon:
      required:
        - telefoonnummer
      type: object
      properties:
        telefoonnummer:
          type: string
          example: "0207863450"
        landnummer:
          type: string
          example: "31"
        ingangsdatum:
          type: string
          format: date
          example: "2005-09-01"
        einddatum:
          type: string
          format: date
      xml:
        name: telefoon
    Telefoonnummers:
      type: array
      items:
        $ref: '#/components/schemas/Telefoon'
      xml:
        name: telefoonnummers
        wrapped: true
    Wlzindicatie:
      required:
        - wlzindicatieID
        - besluitnummer
        - bsn
        - soortWlzindicatie
      type: object
      properties:
        wlzindicatieID:
          type: string
          format: uuid
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        bsn:
          type: string
          pattern: '^[0-9]{9}$'
          example: 950032153
        besluitnummer:
          type: integer
          format: int32
          example: 1236458977
        soortWlzindicatie:
          description: "Moet voldoen aan COD169: Soort WLZ indicatie; zie iWlz codelijsten"
          type: integer
          enum: [ "1","2","3","4" ]
        afgiftedatum:
          type: string
          format: date
        ingangsdatum:
          type: string
          format: date
        einddatum:
          type: string
          format: date
        meerzorg:
          type: string
          enum: [ "Ja","Nee" ]
        grondslag:
          $ref: '#/components/schemas/Grondslagen'
        commentaar:
          description: "Vrije tekst (bijvoorbeeld toelichting) in een bericht."
          type: string
          maxLength: 255
      xml:
        name: wlzindicatie
    WlzindicatieID:
      type: string
      format: uuid
      pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
    WlzindicatieIDs:
      type: array
      items:
        $ref: '#/components/schemas/WlzindicatieID'
      xml:
        name: WlzindicatieIDs
        wrapped: true
    Wzd:
      required:
        - wzdVerklaring
        - datumIngang
      type: object
      properties:
        wzdVerklaring:
          description: "Moet voldoen aan COD127: WzdVerklaring; zie iWlz codelijsten"
          type: string
          enum: [ "1","2","3","4","9" ]
        datumIngang:
          type: string
          format: date
        datumEinde:
          type: string
          format: date
      xml:
        name: wzd