openapi: 3.0.1
info:
  title: WLZ indicatie register
  description: OpenAPI Koppelvlak specificatie tbv WLZ indicatie register.
  termsOfService: 'https://github.com/OAI/OpenAPI-Specification/blob/master/LICENSE'
  contact:
    name: "iStandaarden"
    url: "https://istandaarden.nl"
    email: info@istandaarden.nl
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: '0.9.3_prerelease'
externalDocs:
  description: Find out more about OpenAPI
  url: 'https://www.openapis.org'
servers:
  - url: 'https://api.ciz.nl/wlzindicatieregister'
tags:
  - name: WLZ indicaties
    description: 'Alles over WLZ indicaties'
    externalDocs:
      description: Link naar iStandaarden
      url: 'https://informatiemodel.istandaarden.nl/'
  - name: bopz
    description: ''
    externalDocs:
      description: Link naar iStandaarden
      url: 'https://www.istandaarden.nl/istandaarden/iwlz/'
  - name: wzd
    description: ''
    externalDocs:
      description: Link naar iStandaarden
      url: 'https://www.istandaarden.nl/istandaarden/iwlz/'
  - name: abonnementen
    description: Beschikbare abonnementen
    externalDocs:
      description: Link naar iStandaarden
      url: 'https://www.istandaarden.nl/istandaarden/iwlz/'
  - name: "iWlz codelijsten"
    description: ""
    externalDocs:
      description: "Codelijsten bij iWlz 2.2"
      url: "https://www.istandaarden.nl/ibieb/codelijsten-iwlz-221"
paths:
  /wlzindicaties:
    get:
      tags:
        - WLZ indicaties
      summary: Vind indicatieID's op BSN.
      description: Vind indicatieID's en indicatiedatums van verstrekte indicaties op basis van het BSN van de cliënt.
      operationId: getWLZindicaties
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: bsn
          in: query
          description: BSN van WLZ indicatie
          required: true
          schema:
            type: string
            minLength: 9
            maxLength: 9
            pattern: '^[0-9]{9}$'
            example: 950032153
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WlzindicatieIDs'
            application/json:
              schema:
                $ref: '#/components/schemas/WlzindicatieIDs'
        '400':
          description: Ongeldig BSN
          content: {}
        '404':
          description: Geen WLZ indicaties gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}:
    get:
      tags:
        - WLZ indicaties
      summary: Vind WLZ indicatie op wlzindicatieID.
      description: De WLZ indicatie bevat de WLZ indicatiebesluitgegevens van de cliënt.
      operationId: getWLZindicatieByID
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/wlzindicatie'
            application/json:
              schema:
                $ref: '#/components/schemas/wlzindicatie'
        '400':
          description: Ongeldig ID
          content: {}
        '404':
          description: WLZ indicatie niet gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}/geindiceerdezorgzwaartepaketten:
    get:
      tags:
        - WLZ indicaties
      summary: Vind geindiceerde zorgzwaartepaketten bij een wlzindicatieID.
      description: Gegevens over een geïndiceerd zorgzwaartepakket.
      operationId: getWLZ indicatieGeindiceerdezorgzwaartepaketten
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GeindiceerdeZorgzwaartepakketten'
            application/json:
              schema:
                $ref: '#/components/schemas/GeindiceerdeZorgzwaartepakketten'
        '400':
          description: Ongeldig ID
          content: {}
        '404':
          description: Geen zorgzwaartepakketten gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}/geindiceerdefuncties:
    get:
      tags:
        - WLZ indicaties
      summary: Vind geindiceerde functie bij een wlzindicatieID.
      description: Gegevens over een geïndiceerde functie.
      operationId: getWLZindicatieGeindiceerdefuncties
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GeindiceerdeFuncties'
            application/json:
              schema:
                $ref: '#/components/schemas/GeindiceerdeFuncties'
        '400':
          description: Ongeldig ID
          content: {}
        '404':
          description: Geen functies gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}/stoornissen:
    get:
      tags:
        - WLZ indicaties
      summary: Vind stoornissen bij een wlzindicatieID.
      description: Diagnostische gegevens m.b.t. ziektebeeld en/of stoornis van de client. 
      operationId: getWLZindicatiestoornissen
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Stoornissen'
            application/json:
              schema:
                $ref: '#/components/schemas/Stoornissen'
        '400':
          description: Ongeldig ID
          content: {}
        '404':
          description: Geen stoornissen gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}/stoornissen/stoornisscores:
    get:
      tags:
        - WLZ indicaties
      summary: Vind stoornisscores bij een wlzindicatieID.
      description: Scoregegevens over ziektebeeld / stoornis van de cliënt.
      operationId: getWLZindicatiestoornissenStoornisscores
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/StoornisScores'
            application/json:
              schema:
                $ref: '#/components/schemas/StoornisScores'
        '400':
          description: Ongeldig ID
          content: {}
        '404':
          description: Geen stoornisscores gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}/beperkingen:
    get:
      tags:
        - WLZ indicaties
      summary: Vind beperkingen bij een wlzindicatieID.
      description: Gegevens over beperkingen van de cliënt.
      operationId: getWLZ indicatieBeperkingen
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Beperkingen'
            application/json:
              schema:
                $ref: '#/components/schemas/Beperkingen'
        '400':
          description: Ongeldig ID
          content: {}
        '404':
          description: Geen beperkingen gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}/beperkingen/beperkingscores:
    get:
      tags:
        - WLZ indicaties
      summary: Vind beperkingscores bij een wlzindicatieID.
      description: Scoregegevens over de beperkingen van de cliënt.
      operationId: getWLZ indicatieBeperkingenBeperkingscores
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BeperkingScores'
            application/json:
              schema:
                $ref: '#/components/schemas/BeperkingScores'
        '400':
          description: Ongeldig ID
          content: {}
        '404':
          description: Geen beperkingscores gevonden
          content: {}
  /wlzindicaties/{wlzindicatieID}/client:
    get:
      tags:
        - WLZ indicaties
      summary: Geeft clientgegevens op basis van het WLZ indicatie ID
      description: Persoonsgegevens van de cliënt. 
      operationId: getclientIO31
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Client'
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          description: Ongeldig WLZ indicatie ID
        '404':
          description: Onbekend WLZ indicatie ID
  /wlzindicaties/{wlzindicatieID}/client/contactpersonen:
    get:
      tags:
        - WLZ indicaties
      summary: Geeft contactpersonen van een cliënt op basis van het WLZ indicatie ID
      description: Gegevens over de contactpersonen van de cliënt.
      operationId: getclientIO31Contactpersonen
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek id van de WLZ indicatie
          required: true
          schema:
            type: integer
            format: int32
            minLength: 10
            maxLength: 10
            example: 1234567890
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContactPersonen'
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPersonen'
        '400':
          description: Ongeldig WLZ indicatie ID
        '404':
          description: Onbekend WLZ indicatie ID
  /wlzindicaties/{wlzindicatieID}/client/contactgegevens:
    get:
      tags:
        - WLZ indicaties
      summary: Geeft contactgegevens van een cliënt op basis van het WLZ indicatie ID
      description: Gegevens over de contactpersonen van de cliënt.
      operationId: getclientIO31Contactgegevens
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContactGegevens'
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGegevens'
        '400':
          description: Ongeldig WLZ indicatie ID
        '404':
          description: Onbekend WLZ indicatie ID
  /bopz:
    get:
      tags:
        - bopz
      summary: Zoek BOPZ op BSN
      description: Geeft BOPZ verklaring bij een BSN
      operationId: getBopzbyBsn
      parameters:
        - in: header
          name: X-orgKey  
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: bsn
          in: query
          description: BSN van WLZ indicatie
          required: true
          schema:
            type: string
            minLength: 9
            maxLength: 9
            pattern: '^[0-9]{9}$'
            example: 950032153
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BOPZ'
            application/json:
              schema:
                $ref: '#/components/schemas/BOPZ'
        '400':
          description: Ongeldig WLZ indicatieID
          content: {}
        '404':
          description: Geen BOPZ gevonden voor WLZ indicatieID
          content: {}
  /bopz/{wlzindicatieID}:
    get:
      tags:
        - bopz
      summary: Zoek BOPZ op WLZ indicatie ID
      description: Geeft BOPZ verklaring bij een WLZ indicatie
      operationId: getBopz
      parameters:
        - in: header
          name: X-orgKey  
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BOPZ'
            application/json:
              schema:
                $ref: '#/components/schemas/BOPZ'
        '400':
          description: Ongeldig WLZ indicatieID
          content: {}
        '404':
          description: Geen BOPZ gevonden voor WLZ indicatieID
          content: {}
  /wzd:
    get:
      tags:
        - wzd
      summary: Zoek Wzd verklaring voor een BSN
      description: Geeft alle Wzd verklaringen bij een BSN
      operationId: getWzdbyBsn
      parameters:
        - in: header
          name: X-orgKey  
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: bsn
          in: query
          description: BSN van WLZ indicatie
          required: true
          schema:
            type: string
            minLength: 9
            maxLength: 9
            pattern: '^[0-9]{9}$'
            example: 950032153
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WZD'
            application/json:
              schema:
                $ref: '#/components/schemas/WZD'
        '400':
          description: Ongeldig WLZ indicatieID
          content: {}
        '404':
          description: Geen Wzd verklaring gevonden voor WLZ indicatieID
          content: {}
  /wzd/{wlzindicatieID}:
    get:
      tags:
        - wzd
      summary: Zoek Wzd verklaring op WLZ indicatieID
      description: Geeft alle Wzd verklaringen bij een WLZ indicatie
      operationId: getWzd
      parameters:
        - in: header
          name: X-orgKey  
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-PSID
          description: Pseudo ID van client
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-requestID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - name: wlzindicatieID
          in: path
          description: Uniek ID van de WLZ indicatie
          required: true
          schema:
            type: string
            format: uuid
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WZD'
            application/json:
              schema:
                $ref: '#/components/schemas/WZD'
        '400':
          description: Ongeldig WLZ indicatieID
          content: {}
        '404':
          description: Geen Wzd verklaring gevonden voor WLZ indicatieID
          content: {}
  /abonnementen/organisatie:
    post:
      tags:
        - abonnementen
      summary: Abonneren op indicaties voor een specifieke organisatie
      operationId: postAbonnementOrganisatie
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entiteit:
                  type: string
                  enum: ["wlzindicatie"]
                eventType:
                  type: string
                  enum: ["all","create", "update"]
                organisatieId:
                  type: string
                  minLength: 9
                  maxLength: 9
                organisatieIdType:
                  type: string
                  enum: ["UZOVI"]
              required:
                - event
                - organisatieId
                - organisatieIdType
      callbacks:   # Callback definition
        notificatie:   # Event name
          '{abonneeEndpoint/notificatie}':   # The callback URL for delivering notifications
              post:
                parameters:
                - in: header
                  name: X-orgKey
                  description: Uniek ID van de organisatie binnen het netwerk
                  schema:
                    type: integer
                    format: int32
                  required: true
                requestBody:   # Contents of the callback message
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                            timestamp:
                                type: string
                                format: date-time
                            abonnementId:
                              type: string
                              format: uuid
                            eventType:
                              type: string
                              enum: ["create", "update"]
                            entiteitID:
                              type: string
                        required:
                          - timestamp
                          - abonnementId
                          - eventType
                          - message
                responses:   # Expected responses to the callback message
                  '200':
                    description: Your server returns this code if it accepts the callback
      responses:
        '201':
          description: Abonnement aangemaakt
          content:
            application/json:
              schema:
                type: object
                properties:
                  abonnementId:
                    type: string
                    format: uuid
  /abonnementen/persoon:
      post:
        tags:
          - abonnementen
        summary: Abonneren op indicaties voor een specifiek persoon
        operationId: postAbonnementPersoon
        parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  entiteit:
                    type: string
                    enum: ["wlzindicatie"]
                  eventType:
                    type: string
                    enum: ["all","create", "update"]
                  persoonId:
                    type: string
                  persoonIdType:
                    type: string
                    enum: ["BSN"]
                required:
                  - event
                  - organisatieId
                  - persoonIdType
        callbacks:   # Callback definition
          notificatie:   # Event name
            '{abonneeEndpoint/notificatie}':   # The callback URL for delivering notifications
              post:
                parameters:
                - in: header
                  name: X-orgKey
                  description: Uniek ID van de organisatie binnen het netwerk
                  schema:
                    type: integer
                    format: int32
                  required: true
                requestBody:   # Contents of the callback message
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          timestamp:
                              type: string
                              format: date-time
                          abonnementId:
                            type: string
                            format: uuid
                          eventType:
                            type: string
                            enum: ["create", "update"]
                          entiteitID:
                            type: string
                        required:
                          - timestamp
                          - abonnementId
                          - eventType
                          - message
                responses:   # Expected responses to the callback message
                  '200':
                    description: Your server returns this code if it accepts the callback
        responses:
          '201':
            description: Abonnement aangemaakt
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    abonnementId:
                      type: string
                      format: uuid
  /abonnementen/{abonnementID}:
    delete:
      tags:
        - abonnementen
      summary: Verwijder een abonnement
      description: 'Operatie voor het verwijderen van een eerder geplaatst abonnement'
      operationId: deleteAbonnement
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: path
          name: abonnementID
          description: Id van het abonnement dat verwijderd dient te worden
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Abonnement verwijderd
        '400':
          description: Ongeldig abonnementID
        '404':
          description: abonnementID niet gevonden 
components:
  schemas:
    Adres:
      required:
       - adresSoort
      type: object
      properties:
        adresSoort:
          description: "Moet voldoen aan COD757: Soort Adres; zie iWlz codelijsten"
          type: string
          minLength: 2
          maxLength: 2
          enum: ["01","02","03"]
          example: "01"
        straatnaam: 
          type: string
          example: "Oudaen"
        huisnummer:
          type: integer
          format: int32
          example: 19
        huisletter: 
          type: string
        huisnummerToevoeging:
          type: string 
        postcode: 
          type: string
          example: "1081BA"
        plaatsnaam: 
          type: string
          example: "Amsterdam"
        landCode: 
          description: "Moet voldoen aan COD032:Land; zie iWlz codelijsten"
          type: string
          minLength: 2
          maxLength: 2
          example: "NL"
        aanduidingWoonadres:
          description: "Moet voldoen aan NUM061: Aanduiding woonadres; zie iWlz codelijsten"
          type: string 
          enum: ["AB","BY","TO","WW"]
        ingangsdatum: 
          type: string
          format: date
          example: "2005-09-01"
        einddatum: 
          type: string
          format: date  
    Adressen:
        type: object
        properties:
          adres:
            $ref: '#/components/schemas/Adres'
        xml:
          name: adressen
          wrapped: true
    Beperking:
      required:
       - categorie
      type: object
      properties:
        categorie:
          description: "Moet voldoen aan COD539: Beperking; zie iWlz codelijsten"
          type: string
          minLength: 1
          maxLength: 1
          enum: ["1","2","3","4","5","6"]
          example: "1"
        duur:
          description: "Moet voldoen aan COD749: duur; zie iWlz codelijsten"
          type: string
          minLength: 1
          maxLength: 1
          enum: ["1","2","3","4"]
          example: "1"
        commentaar:
          type: string
    Beperkingen:
      type: object
      properties:
        beperking:
          $ref: '#/components/schemas/Beperking'
      xml:
        name: beperkingen
        wrapped: true
    BeperkingScore:
      required:
       - beperkingsVraag
       - beperkinsScore
      type: object
      properties:
        beperkingsVraag:
          description: "Moet voldoen aan COD825: Vraag beperking; zie iWlz codelijsten"
          type: string
          minLength: 4
          maxLength: 4
          example: "0101"
        beperkingScore:
          description: "Moet voldoen aan COD828: Score beperking; zie iWlz codelijsten"
          type: string
          minLength: 1
          maxLength: 1
          enum: ["0","1","2","3","9"]
          example: "1"
        commentaar:
          type: string
    BeperkingScores:
      type: object
      properties:
        beperkingscore:
          $ref: '#/components/schemas/BeperkingScore'
      xml:
        name: beperkingScores
        wrapped: true
    BOPZ:
      required:
       - bsn
       - bopzVerklaring
      type: object
      properties:
        bsn:
          type: string
          minLength: 9
          maxLength: 9
          pattern: '^[0-9]{9}$'
          example: 950031253
        bopzVerklaring:
          type: boolean
        datumAfgifte:
          type: string
          format: date
      xml:
        name: bopz
    Client:
      required:
       - bsn
       - geheimeClient
       - geslacht
       - geslachtsnaam
       - naamGebruik
       - leefeenheid
      type: object
      properties:
        bsn:
          type: string
          minLength: 9
          maxLength: 9
          pattern: '^[0-9]{9}$'
          example: 950032153
        geheimeClient:
          type: boolean
          example: 2
        geboorteDatum:
          type: string
          format: date
        geboortedatumGebruik:
          description: "Moet voldoen aan COD170:Datumgebruik; zie iWlz codelijsten"
          type: integer
          enum: [1,2,3]
        geslacht:
          description: "Moet voldoen aan COD046:Geslacht; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [0, 1, 2]
        burgerlijkeStaat:
          description: "Moet voldoen aan COD366:Burgerlijke staat; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [1,2,3,4,5,6,7,8,9]
        geslachtsnaam:
          type: string
        voorvoegselGeslachtnaam:
          type: string
        partnernaam:
          type: string
        voorvoegselPartnernaam:
          type: string
        voornamen:
          type: string
        voorletters:
          type: string
        naamGebruik:
          description: "Moet voldoen aan COD700:Naamgebruik; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [1,2,3,4,5,6]
        leefeenheid:
          description: "Moet voldoen aan COD478:Leefeenheid; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [1,2,3,4,5,6,7,8,9]
        juridischeStatus:
          description: "Moet voldoen aan COD232:Juridische status; zie iWlz codelijsten"
          type: string
          minLength: 2
          enum: ["01","02","03","04","05","06","07","08","09","10","11","12"]
          example: "01"
        agbcodeHuisarts:
          type: string
          minLength: 8
          maxLength: 8
        communicatieVorm:
          description: "Gecodeerde aanduiding van de bijzondere vorm van communicatie die gebruikt dient te worden"
          type: string
          enum: ["1","2","3"]
        taal:
          description: "De taal van de client waarin met de client wordt gecommuniceerd"
          type: string
          maxLength: 25
      xml:
        name: client   
    ContactGegevens:
      type: object
      properties:
        adres:
          $ref: '#/components/schemas/Adressen'
        telefoon:
          $ref: '#/components/schemas/Telefoonnummers'
        email:
          $ref: '#/components/schemas/Emailadressen'
      xml:
        name: contactGegevens
        wrapped: true
    ContactPersoon:
      required: 
       - soortRelatie
      type: object
      properties:
        soortRelatie:
          description: "Moet voldoen aan COD472:Soort relatie; zie iWlz codelijsten"
          type: string
          enum: ["04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25"] #@@nNog verder aanvullen
          example: "12" 
        organisatieNaam:
          type: string
        voornamen:
          type: string
          example: "Leo"
        roepnaam:
          type: string
        geslachtsnaam:
          type: string
        voorvoegselGeslachtnaam:
          type: string
        partnernaam:
          type: string
        voorvoegselPartnernaam:
          type: string
        naamGebruik:
          description: "Moet voldoen aan COD700:Naamgebruik; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [1,2,3,4,5,6]
        geslacht:
          description: "Moet voldoen aan COD046:Geslacht; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [1, 2, 9]
        geboorteDatum:
          type: string
          format: date
        geboortedatumGebruik:
          description: "Moet voldoen aan COD170:Datumgebruik; zie iWlz codelijsten"
          type: integer
          format: int32
          enum: [1,2,3]  
        ingangsdatum: 
          type: string
          format: date
          example: "2005-09-01"
        einddatum: 
          type: string
          format: date
        adres:
          $ref: '#/components/schemas/Adressen'
        telefoon:
          $ref: '#/components/schemas/Telefoonnummers'
        email:
          $ref: '#/components/schemas/Emailadressen'
    ContactPersonen:
      type: object
      properties:
        contactPersoon:
          $ref: '#/components/schemas/ContactPersoon'
      xml:
        name: contactPersonen
        wrapped: true
    Email:
      required:
       - emailadres
      type: object
      properties: 
        emailadres:
          type: string
          example: "test@testmail.nl"
        ingangsdatum: 
          type: string
          format: date
          example: "2005-09-01"
        einddatum: 
          type: string
          format: date
    Emailadressen:
      type: object
      properties:
        Email:
          $ref: '#/components/schemas/Email'
      xml:
        name: emailadressen
        wrapped: true
    wlzindicatie:
      required:
        - wlzindicatieID
        - besluitnummer
        - bsn
        - soortWLZ indicatie
      type: object
      properties:
        wlzindicatieID:
          type: string
          format: uuid
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        bsn:
          type: string
          minLength: 9
          maxLength: 9
          pattern: '^[0-9]{9}$'
          example: 950032153
        besluitnummer:
          type: integer
          format: int32
          example: 1236458977
        soortWLZ indicatie:
          description: "Moet voldoen aan COD169: Soort WLZ indicatie; zie iWlz codelijsten"
          type: integer
          enum: ["1","2","3","4"]
        afgiftedatum:
          type: string
          format: date
        ingangsdatum:
          type: string
          format: date
        einddatum:
          type: string
          format: date
        meerzorg:
          type: string
          enum: ["Ja","Nee"]
        grondslag:
          $ref: '#/components/schemas/Grondslagen'
      xml:
        name: WLZ indicatie
    GeindiceerdeFunctie:
      required:
       - functiecode
       - ingangsdatum
       - klasse
       - leveringsVoorwaarde
       - financiering
      type: object
      properties:
        functiecode:
          description: "Moet voldoen aan COD732:Functie; zie iWlz codelijsten"
          type: string
          minLength: 2
          maxLength: 2
        ingangsdatum:
          type: string
          format: date
        einddatum:
          type: string
          format: date
        klasse:
          type: string
        opslag:
          type: string
        leveringsVoorwaarde:
          description: "Moet voldoen aan COD740: Leveringsvoorwaarde zorg; zie iWlz codelijsten"
          type: integer
          enum: ["1","2","3","4","8"]
        vervoer:
          description: "Gecodeerde aanduiding die aangeeft of vervoer van toepassing is"
          type: integer
          enum: ["1","2","9"]
        instellingVoorkeur:
          type: string
          minLength: 8
          maxLength: 8
        financiering:
          description: "Moet voldoen aan COD998: Financiering zorg; zie iWlz codelijsten"
          type: integer
          enum: ["1","2","3","4"]
        commentaar:
          type: string
    GeindiceerdeFuncties:
      type: object
      properties:
        geindiceerdeFunctie:
          $ref: '#/components/schemas/GeindiceerdeFunctie'
      xml:
        name: geindiceerdeFuncties
        wrapped: true
    GeindiceerdZorgzwaartepakket:
      required:
       - zzpCode
       - ingangsdatum
       - financiering
      type: object
      properties:
        zzpCode:
          description: "Moet voldoen aan COD163: Zorgzwaartepakket; zie iWlz codelijsten"
          type: string
          minLength: 3
          maxLength: 3
        ingangsdatum:
          type: string
          format: date
        einddatum:
          type: string
          format: date
        klasse:
          description: "Moet voldoen aan COD756: Klasse; zie iWlz codelijsten"
          type: string
          minLength: 2
          maxLength: 4
        voorkeurClient:
          description: "Moet voldoen aan COD999: Voorkeur client; zie iWlz codelijsten"
          type: integer
          format: int32
          maxLength: 1
        instellingVoorkeur:
          type: string
          minLength: 8
          maxLength: 8
        financiering:
          description: "Moet voldoen aan COD998: Financiering zorg; zie iWlz codelijsten"
          type: integer
          enum: ["1","2","3","4"]
        commentaar:
          type: string
    GeindiceerdeZorgzwaartepakketten:
      type: object
      properties:
        geindiceerdZorgzwaartepakket:
          $ref: '#/components/schemas/GeindiceerdZorgzwaartepakket'
      xml:
        name: geindiceerdeZorgzwaartepakketten
        wrapped: true
    Grondslag:
      required:
        - grondslag
      type: object
      properties:
        grondslag:
          description: "Moet voldoen aan COD736:Grondslag zorg; zie iWlz codelijsten"
          type: string
          minLength: 2
          maxLength: 2
          enum: ["01","02","03","04","05","06","07"]
    Grondslagen:
      type: object
      properties:
        grondslagen:
          $ref: '#/components/schemas/Grondslag'
      xml:
        name: grondslag
        wrapped: true
    Stoornis:
      required:
       - grondslag
       - diagnoseCodelijst
       - ziektebeeldStoornis
      type: object
      properties:
        grondslag:
          description: "Moet voldoen aan COD736:Grondslag zorg; zie iWlz codelijsten"
          type: string
          minLength: 2
          maxLength: 2
          enum: ["01","02","03","04","05","06","07"]
        diagnoseCodelijst:
          description: "Moet voldoen aan COD392:Diagnosecodelijst; zie iWlz codelijsten"
          type: string
          minLength: 3
          maxLength: 3
          enum: ["014","019","021","022","023","024"]
        diagnoseSubCodelijst:
          description: "Moet voldoen aan COD770:Subcode diagnosecodelijst; zie iWlz codelijsten"
          type: string
          minLength: 2
          maxLength: 2
          enum: ["01","02","03","04","05","06","07","08","09","10","11","12","13"]
        ziektebeeldStoornis:
          description: "vulling uit combinatie van COD923, COD924 en COD925; zie iWlz codelijsten"
          type: string
        prognose:
          description: "Moet voldoen aan COD737: Progenose; zie iWlz codelijsten"       
          type: integer
          format: int32
          enum: ["1","2","3","4","5"]
        commentaar:
          type: string
    Stoornissen:
      type: object
      properties:
        stoornis:
          $ref: '#/components/schemas/Stoornis'
      xml:
        name: stoornissen
        wrapped: true
    StoornisScore:
      required:
       - stoornisVraag
       - stoornisScore
      type: object
      properties:
        stoornisVraag:
          description: "Moet voldoen aan COD824: Vraag stoornis; zie iWlz codelijsten"
          type: string
          minLength: 4
          maxLength: 4
        stoornisScore:
          description: "Moet voldoen aan COD827: Score vraag stoornis; zie iWlz codelijsten"
          type: string
          minLength: 1
          maxLength: 1
          enum: ["0","1","2","3","9"]
          example: "1"
        commentaar:
          type: string
    StoornisScores:
      type: object
      properties:
        stoornisScore:
          $ref: '#/components/schemas/StoornisScore'
      xml:
        name: stoornisScores
        wrapped: true
    Telefoon:
      required:
       - telefoonnummer
      type: object
      properties:
        telefoonnummer:
          type: string
          example: "0207863450"
        landnummer:
          type: string
          example: "31"
        ingangsdatum: 
          type: string
          format: date
          example: "2005-09-01"
        einddatum: 
          type: string
          format: date
    Telefoonnummers:
      type: object
      properties:
        telefoon:
          $ref: '#/components/schemas/Telefoon'
      xml:
        name: telefoonnummers
        wrapped: true
    WlzCheck:
      type: object
      properties:
        WLZ indicatie:
          type: string
          enum: ["Ja","Nee","Onbekend"]
      xml:
        name: WlzCheck
        wrapped: true
    WlzindicatieID:
      type: object
      properties:
        WLZ indicatieID: 
          type: string
      xml: 
        name: wlzindicatieID
        wrapped: true
    WlzindicatieIDs:
      type: object
      properties:
        telefoon:
          $ref: '#/components/schemas/WlzindicatieID'
      xml:
        name: wlzindicatieids
        wrapped: true    
    WZD:
      required:
       - bsn
       - wzdVerklaring
      type: object
      properties:
        bsn:
          type: string
          minLength: 9
          maxLength: 9
          pattern: '^[0-9]{9}$'
          example: 950032153
        wzdVerklaring:
          description: "Moet voldoen aan COD127: WzdVerklaring; zie iWlz codelijsten"
          type: string
          enum: ["1","2","3","4","9"]
        datumIngang:
          type: string
          format: date
        datumEinde:
          type: string
          format: date
      xml:
        name: wzd

